{% block content %}

    <h1>New Tweet Page</h1>

    <p>Create a new tweet!</p>

    <form action="/tweets/create" method="POST">

        <label>Tweet:</label>
        <input type="text" name="tweet_title" placeholder="Tweet Here" value="Enter Tweet Here">

        <label>User:</label>
        <select name="user_name">
          <option value="BingBong">GVanRossum</option>
          <option value="Pi">Pi</option>
          <option value="Phi">Phi</option>
        </select>

        <button>Submit</button>
    </form>
{% endblock %}